<html>
  <head>
    <title>Users | All</title>
  </head>
  <body>
    <% users.forEach(i => { %>
    <div>
        <h3><%= i.name %></h1>
        <h3><%= i.email %></h3>
        <p><%= i.role %></p>
    </div>
    <% }) %>
  </body>
</html>
